.title h1 
{
    font-family: "Pattaya";
    font-size: 72px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.title h3 
{
    font-family: "Alegreya SC";
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title div 
{
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.title a 
{
    background-color: black;
    color: white;
    font-family: "Alegreya SC";
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    margin-bottom: 40px;
    transition: background-color 0.5s;
}
.title a:hover 
{
    background-color: rgb(64, 64, 64);
}
.history 
{
    background-color: rgb(242, 242, 242);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}
.historyContent 
{
    width: 57vw;
    margin-left: auto;
    margin-right: auto;
}
.historyContent h2, .genre h2, .comp h2 
{
    font-family: "Alegreya SC";
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.historyContent p, .genre p, .comp p 
{
    font-family: "Alegreya SC";
    font-size: 24px;
}
.genre, .comp 
{
    width: 57vw;
    margin-left: auto;
    margin-right: auto;
}
.compContent 
{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    width: 65%;
}
.compContent img 
{
    width: 400px;
    height: 400px;
}
.compContent b 
{
    font-family: "Alegreya SC";
    font-size: 48px;
    font-weight: 700;
}
.compContent p 
{
    font-family: "Alegreya SC";
    font-size: 18px;
}
.compContent div 
{
    margin-left: 60px;
}
.link 
{
    text-decoration: underline;
}
#ext 
{
    display: none;
}
